* {
  font-family: 'Inter', sans-serif;
  color: #e2e8f0
}

body {
  background-color: #0f172a;
}

#title_div {
  display: flex;
  align-items: center;
  gap: 16px;
}

#content {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  background-color: #0284c7;
  text-decoration: none;
  user-select: none;
  font-size: 14px;
  padding: 10px;
}

#warning_div {
  width: 100%;
  display: none;
  box-sizing: border-box;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 16px;
  border-radius: 5px;
  background-color: #ca8a04;
  color: white;
}

#container {
  height: 29px;
  width: 72px;
  overflow: hidden;
  background-clip: padding-box;
  background-color: #0369a1;
  position: relative;
}

#overlay {
  height: 100%;
  width: 100%;
  background-color: #0369a1;
  font-size: 12px;
  position: absolute;
  text-align: center;
  line-height: 0.5;
  pointer-events: none; 
  z-index: 2;
}

#docx_iframe {
  display: block;
  height: 477px;
  width: 448px;
  position: absolute;
  top: calc(-477px + 30px + 30px);
  left: -43px;
  border: none;
}

#zoom_test {
  width: 100px;
}